/kuliah1/LatihanJava/nbproject/private/
/kuliah1/LatihanJava/build/
/Kuliah/HelloWorld/build/
/Kuliah/HelloWorld/nbproject/private/
/kuliah1/DalamPantauan/nbproject/private/
/kuliah1/DalamPantauan/build/
/StrukturData00/nbproject/private/
/StrukturData00/build/
/DemoCRUD/nbproject/private/
/DemoCRUD/build/
/DemoCRUD/dist/
/Input_Data_Karyawan/nbproject/private/
/Kuliah/HelloWorld/dist/
